/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family: Poppins;
    text-decoration: none;
}

img {width: 40px;}

/* GLOBAL */

:root {
    --gray-very-strong: #13131F;
    --purple-general: #7026B0;
    --gray-strong: #888888;
}

.white-theme {
    color: var(--gray-very-strong)!important;
    background-color: white!important;
}

.hidden { display: none; }

a { color: white }

body {
    background-color: var(--gray-very-strong);
    color: white;
}

.secundarys-sections {
    min-height: 0;
    flex-direction: column;
    margin-bottom: 10vw;
    gap: 80px;
}

button {
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    min-height: calc(100vh - 130px);
}

p {
    color: var(--gray-strong);
    max-width: 50%;
    text-align: center;
    line-height: 45px;
}

.up-btn {
    position: fixed;
    z-index: 900;
    bottom: 2%;
    right: 5%;
}

.up-btn img {
    width: 60px;
}

/* ANIMATION TO PICTURE */

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* STYLES */

/* HEADER */

header {
    background-color: var(--gray-very-strong);
    border-bottom: 1.5px solid var(--purple-general);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 3vw 7vw;
}

.menu-container {
    background-color: var(--gray-very-strong);
    border: 1px solid var(--purple-general);
    position: absolute;
    left: 5.5%;
    top: 75%;
    text-align: center;
}

.menu-container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.menu-container a:hover {
    color: var(--gray-strong);
    transition: 0.2s;
}

.logo {
    font-weight: 600;
    font-size: 20px;
    color: white !important;
}

.change-theme {
    display: flex;
    gap: 20px;
}

/* HOME */

.home {
    padding: 0vw 12vw;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.resume {
    color: var(--gray-strong);
    max-width: 100%;
    line-height: 30px;
    text-align: start;
}

.social-media {
    display: flex;
    gap: 15px
}

.social-media li a:hover img{
    transform: scale(1.1);
}

.main-picture {
    width: 450px;
    animation: float infinite 3s;
}

/* ABOUT */

.cv-btn {
    background-color: var(--purple-general);
    padding: 20px 40px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
}

/* HABILITIES */

.habilidades-list {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 20px
}

.habilidades-list img {
    width: 80px;
}

/* PROJETOS */

#projetos {
    margin-bottom: 50px;  /* EXCLUIR ESSA LINHA DEPOIS */
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.project-list img {
    width: 400px;
}

.project-list li {
    border: 1px solid var(--purple-general);
    border-bottom: 5px solid var(--purple-general);
    position: relative;
}

.project-list li .title-project {
    text-align: center;
}

.project-list li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}





/* FOOTER */

footer {
    border-top: 1px solid var(--purple-general);
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--gray-strong);
    font-size: 13px;
}

/* REPONSIVITY */

@media screen and (max-width: 650px) {
    .home {
        text-align: center;
        margin-top: 60px;
        flex-direction: column;
    }

    .resume {
        text-align: center;
    }

    .social-media {
        align-self: center;
    }

    p {
        max-width: 90%;
    }

    .project-list img {
        width: 300px;
    }
}